
    {{> navbar_admin}}
        <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
      {{#if book}}
      <div class="container pt-5">
              <div class="row">

                  <div class="image--shadow mb-5 col-lg-6 col-md-12">
                      <img src="/images/{{book.image}}" alt="">
                  </div>
          
                  <div class="detail-info col-lg-6 col-md-12 pl-lg-5">
                      <h3 class="detail-name">{{book.name}}</h3>
                      <p>Trạng thái: {{book.status}}</p>
                      <div class="note p-3 my-3">
                          <div class="note-text mb-2">
                              <i class="fa fa-check-circle pt-1"></i>
                              <p class="pl-2">Đây là sách uy tín</p>
                          </div>
                          <div class="note-text mb-2">
                              <i class="fa fa-check-circle pt-1"></i>
                              <p class="pl-2">Nếu bạn muốn mượn thì vui lòng click vò bên dưới</p>
                          </div>
                      </div>
                      <div class="quantity mb-3">
                          <p class="quantity-text mb-3">Số lượng</p>
                          <button onclick="changeQuantity(this)" id="decrease" class="adjust-btn btn btn-outline-primary">-</button>
                          <input id="quantity" class="quantity-number" type="number" value="1" disabled>
                          <button onclick="changeQuantity(this)" id="increase" class="adjust-btn btn btn-outline-primary">+</button>
                      </div>
                  </div>
              </div>
          
              <h3 class="product-title text-primary">Mô tả sản phẩm</h3>
              <p>{{book.description}}</p>
          </div>  
          {{/if}}      
    </div>

