
  {{> navbar_admin}}

        <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Library</h2>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-body book">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card-title" style="font-size: 40px; color: white">3</div>
                          <div style="font-size: 20px; color: white" class="mb-3">Book</div>
                        </div>
                        <div class="col-lg-6">
                          <div class="text-right card-title">
                            <i class="fa fa-book" aria-hidden="true" style="font-size: 120px;"></i>
                          </div>  
                        </div>
                        
                      </div>

                    </div>
                    <div class="third-item text-center">
                      <a href="#">
                        More info
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="card">
                  <div class="card-body member">
                    <div class="row">
                      <div class="col-lg-6 ">
                        <div class="card-title" style="font-size: 40px; color: white">3</div>
                        <div style="font-size: 20px; color: white" class="mb-3">Member</div>
                      </div>
                      <div class="col-lg-6">
                        <div class="text-right card-title">
                          <i class="fa fa-users" aria-hidden="true" style="font-size: 120px;"></i>
                        </div>  
                      </div>
                      
                    </div>

                  </div>
                  <div class="third-item text-center">
                    <a href="#">
                      More info
                      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
                </div>
              </div>
          </div>
          <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-body borrow">
                  <div class="row">
                    <div class="col-lg-6 ">
                      <div class="card-title" style="font-size: 40px; color: white">3</div>
                      <div style="font-size: 20px; color: white" class="mb-3">Borrow</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="text-right card-title">
                        <i class="fa fa-handshake-o" aria-hidden="true" style="font-size: 120px;"></i>
                      </div>  
                    </div>
                    
                  </div>

                </div>
                <div class="third-item text-center">
                  <a href="#">
                    More info
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
        </div>
        <div class="col-lg-6 mb-5">
          <div class="card">
              <div class="card-body return">
                <div class="row">
                  <div class="col-lg-6 ">
                    <div class="card-title" style="font-size: 40px; color: white">3</div>
                    <div style="font-size: 20px; color: white" class="mb-3">Return</div>
                  </div>
                  <div class="col-lg-6">
                    <div class="text-right card-title">
                      <i class="fa fa-reply-all" aria-hidden="true" style="font-size: 120px;"></i>
                    </div>  
                  </div>
                  
                </div>

              </div>
              <div class="third-item text-center">
                <a href="#">
                  More info
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </div>
          </div>
      </div>
        </div>
    </div>