
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(/images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(/images/li.jpg);"></div>
	  				<h3>Quản Lý Thư Viện</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
          <a href="/staff/home"><span class="fa fa-home mr-3"></span>Trang Chủ</a>
          </li>
          <li>
          <a href="/staff/money"><span class="fa fa-credit-card mr-3"></span>Nạp Tiền</a>
          </li>
          <li>
          <a href="/staff/book"><span class="fa fa-book mr-3"></span>Sách</a>
          </li>
          <li>
          <a href="/staff/material"><span class="fa fa-file-text-o mr-3"></span>Tài Liệu Giấy</a>
          </li>
          <li>
          <a href="/staff/materialE"><span class="fa fa-file-text-o mr-3"></span>Tài Liệu Điện Tử</a>
          </li>
          <li>
          <a href="/staff/loan"><span class="fa fa-address-card-o mr-3"></span>Phiếu Mượn</a>
          </li>
          <li>
          <a href="/staff/statistic"><span class="fa fa-line-chart mr-3"></span>Thống Kê</a>
          </li>
          <li>
          <a href="/logout"><span class="fa fa-sign-out mr-3"></span>Đăng Xuất</a>
          </li>
        </ul>

    	</nav>