
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(/images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(/images/li.jpg);"></div>
	  				<h3>Quản Lý Thư Viện</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
          <a href="/admin/home"><span class="fa fa-home mr-3"></span>Trang Chủ</a>
          </li>
          <li>
          <a href="/admin/member"><span class="fa fa-users mr-3"></span>Người Dùng</a>
          </li>
          <li>
          <a href="/admin/book"><span class="fa fa-book mr-3"></span>Sách</a>
          </li>
          <li>
          <a href="/admin/staff"><span class="fa fa-handshake-o mr-3"></span>Nhân Viên</a>
          </li>
          <li>
          <a href="/admin/comment"><span class="fa fa-comment-o mr-3"></span>Bình Luận</a>
          </li>
          <li>
          <a href="/logout"><span class="fa fa-sign-out mr-3"></span>Đăng Xuất</a>
          </li>
        </ul>

    	</nav>
