<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url(/images/bg_1.jpg);">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url(/images/li.jpg);"></div>
	  				<h3>Library Management</h3>
	  			</div>
	  		</div>
        <ul class="list-unstyled components mb-5">
          <li class="active">
          <a href="/user/home"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
          <a href="/user/book"><span class="fa fa-book mr-3"></span>Book</a>
          </li>
          <li>
          <a href="/user/comment"><span class="fa fa-comment-o mr-3"></span> Comment</a>
          </li>
          <li>
          <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Library</h2>
        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-body book">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="card-title" style="font-size: 40px; color: white">3</div>
                          <div style="font-size: 20px; color: white" class="mb-3">Book</div>
                        </div>
                        <div class="col-lg-6">
                          <div class="text-right card-title">
                            <i class="fa fa-book" aria-hidden="true" style="font-size: 120px;"></i>
                          </div>  
                        </div>
                        
                      </div>

                    </div>
                    <div class="third-item text-center">
                      <a href="#">
                        More info
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                      </a>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
              <div class="card">
                  <div class="card-body member">
                    <div class="row">
                      <div class="col-lg-6 ">
                        <div class="card-title" style="font-size: 40px; color: white">3</div>
                        <div style="font-size: 20px; color: white" class="mb-3">Member</div>
                      </div>
                      <div class="col-lg-6">
                        <div class="text-right card-title">
                          <i class="fa fa-users" aria-hidden="true" style="font-size: 120px;"></i>
                        </div>  
                      </div>
                      
                    </div>

                  </div>
                  <div class="third-item text-center">
                    <a href="#">
                      More info
                      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
                </div>
              </div>
          </div>
          <div class="col-lg-6 mb-5">
            <div class="card">
                <div class="card-body borrow">
                  <div class="row">
                    <div class="col-lg-6 ">
                      <div class="card-title" style="font-size: 40px; color: white">3</div>
                      <div style="font-size: 20px; color: white" class="mb-3">Borrow</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="text-right card-title">
                        <i class="fa fa-handshake-o" aria-hidden="true" style="font-size: 120px;"></i>
                      </div>  
                    </div>
                    
                  </div>

                </div>
                <div class="third-item text-center">
                  <a href="#">
                    More info
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                  </a>
              </div>
            </div>
        </div>
        <div class="col-lg-6 mb-5">
          <div class="card">
              <div class="card-body return">
                <div class="row">
                  <div class="col-lg-6 ">
                    <div class="card-title" style="font-size: 40px; color: white">3</div>
                    <div style="font-size: 20px; color: white" class="mb-3">Return</div>
                  </div>
                  <div class="col-lg-6">
                    <div class="text-right card-title">
                      <i class="fa fa-reply-all" aria-hidden="true" style="font-size: 120px;"></i>
                    </div>  
                  </div>
                  
                </div>

              </div>
              <div class="third-item text-center">
                <a href="#">
                  More info
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </div>
          </div>
      </div>
        </div>
    </div>
<div id="user-vip-dialog" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-success text-center">Xin Chúc Mừng</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <p>Bạn đã trở thành người dùng thân thiết của hế thống</p>
          <span>Giờ đây bạn đã có thể mượn sách trong hệ thống mà không cần thông qua nhân viên</span>
          <p class="text-primary mt-3">Mong rằng bạn có được những trải nghiệm tốt nhất</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Đóng</button>
        </div>
        
      </div>
    </div>
  </div>

<script>
  window.onload = () => {
    $('#user-vip-dialog').modal('show')
  }
</script>