
{{> navbar_user}}
        <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4 text-center text-primary">Chào Mừng Đến Với Hệ Thống Quản lý Thư Viện</h2>
        <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/images/thuvien1.png" alt="Los Angeles" style="max-width: 100%; min-width: 100%">
        </div>
        <div class="carousel-item">
        <img src="/images/thuvien2.jpg" alt="Chicago" style="max-width: 100%; min-width: 100%">
        </div>
        <div class="carousel-item">
        <img src="/images/thuvien3.jpg" alt="New York" style="max-width: 100%; min-width: 100%">
        </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        </a>

        </div>

        {{#if change_pass_success}}
            <input type="hidden" id="check_toast" value="{{checkToast}}">
        {{/if}}
    </div>

<script>
    window.onload = () => {
        console.log()
        let temp = document.getElementById("check_toast")
        if(temp.value == 1){
            showSuccessToast('Đổi mật khẩu thành công')
            console.log('Show toast ok')
        }
    }
</script>