 {{> navbar_user}}
 <div id="content" class="p-4 p-md-5 pt-5">
     <div class="gap-6">
    <div class="text-center" style="background-color: #F78181; color: white; font-size: 30px;">Quy Định Của Thư Viện</div>
    <div style="border: 1px blue dashed" class="p-4">
        <p>Triển khai hệ thống E-learning kiểu mới</p>
        <ul>
            <li>+ Từ HK Hè/2020-2021, Hệ thống học trực tuyến E-learning sẽ được triển khai trên phiên bản mới.
            </li>
            <li>
                + HSSV/HV/NCV chọn Quản lý học tập >  E-learning (New) để sử dụng.
            </li>
            <li>
                + Hệ thống cũ tạm thời vẫn tiếp tục giữ lại để truy cứu bài học/bài tập khi cần thiết
            </li>
        </ul>
    </div>
    <div style="border: 1px blue dashed" class="p-4">

            <p style="color: rgb(255, 30, 0);">CẢNH BÁO VỀ VIỆC SỬ DỤNG CÁC ỨNG DỤNG NGOÀI TRƯỜNG</p>
            <p>Hiện tại, xuất hiện một số ứng dụng không do Nhà trường phát triển tại các kho ứng dụng CH Play & App Store, các bạn sinh viên KHÔNG NÊN sử dụng các ứng dụng này để tránh bị lợi dụng thu thập thông tin cá nhân.</p>
            <p>Chỉ sử dụng các hệ thống do Nhà trường cung cấp và các hệ thống đã được Nhà trường xác nhận.</p>
            <p>Việc tự ý cung cấp thông tin tài khoản (bằng bất kỳ hình thức nào: cung cấp thông tin khảo sát, đăng nhập vào hệ thống ngoài trường, v.v...) cho bất kỳ đơn vị/cá nhân nào không thuộc quản lý của Nhà trường dẫn đến mất mát thông tin, Nhà trường không chịu trách nhiệm.</p>
            <ul style="color: green;">LƯU Ý:
                <li>+ Để đảm bảo an toàn thông tin, các bạn sinh viên PHẢI bảo quản tài khoản Cổng thông tin sinh viên cẩn thận!</li></ul>
        
    </div>
    <div style="border: 1px blue dashed" class="p-4">
        <p style="color: rgb(255, 30, 0);">CẢNH BÁO GIẢ MẠO</p>
        <p>Nhiều đối tượng giả mạo email của Nhà trường và các đơn vị thuộc Nhà trường nhằm trục lợi từ các bạn sinh viên, mỗi bạn cần tìm hiểu thông tin thật kỹ trước khi cung cấp một thông tin cá nhân nào của mình.</p>
        <p>Mọi email từ Nhà trường đều có phần mở rộng là "@tdtu.edu.vn" và có chữ ký nhận dạng bên dưới.</p>
    </div>
    <div style="border: 1px blue dashed" class="p-4">
        <p>Truy cập Facebook TDT Software Engineering để được hỗ trợ về các vấn đề kỹ thuật.</p>
    </div>
</div>
 </div>
 